
<header class="site-header">
  <div class="dark-bg">
    <div class="row">
      <div class="small-6">
        <p class="text-muted text-mini">Welcome to Chilli restaurant</p>
      </div>
      <div class="small-6">
        <ul class="list-icon-horizontal border-left">
          <li><a href="#" class="text-muted text-mini"><i class="fa fa-phone"></i> (00) 123 456 789</a><a href="#" class="text-muted text-mini"><i class="fa fa-envelope"></i> info@companyname.com</a><a href="#" class="text-muted text-mini"><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>