.site-logo {
	margin: 0;
}

.site-copyright {
	color: $star-dust;
	font-size: 14px;
	text-align: center;
	margin: 0;
}

.site-social {
	text-align: center;
	margin-top: 20px;

	li {
		display: inline-block;
		margin: 10px;

		a {
			display: inline-block;
			height: 41px;
			width: 41px;
			border-radius: 50%;
			background: color($white a(10%));
			line-height: 41px;

			&:hover {
				background: color($color-primary a(80%));
				color: $white;
			}
		}
	}
}

@b site-footer {
	background: #242424;

	@e alpha {
		background: $mine-shaft;
	}

	@e h {
		margin: 0 0 20px;
		color: $white;
		font-size: 20px;

		+ p {
			margin: 0 0 20px;
			/* line-height: 1.3; */
			color: $star-dust;
		}
	}

	@e list-flex {

		> li {
			display: flex;
			flex-wrap: wrap;
			color: $star-dust;
			margin-bottom: 10px;

			span {
				flex-grow: 1;
			}

			em {
				color: $white;
				font-style: normal;
			}
		}
	}

	@e list {
		color: $star-dust;

		> li {
			margin-bottom: 10px;
			display: flex;
		}

		.fa {
			color: $white;
			margin-right: 10px;
			line-height: 1.8;
		}
	}
}

@media (--medium-down) {
	.site-footer-form,
	.site-footer__list-flex {
		margin-bottom: 40px;
	}
}