/* Header */
@b site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	@e alpha {
		background: $color-secondary;
	}

	@e beta {
		background: color($color-secondary a(50%));

		&.is-active {
			background: $color-secondary;
		}
	}

	@e alpha-text {
		color: $star-dust;
		font-size: $fz-small;
		margin: 10px 0 0;

		@media (--medium-down) {
			text-align: center;
		}
	}

	@e alpha-list {
		float: right;

		li {
			display: inline-block;
			border-left: 1px solid $cod-gray;
			padding: 5px 20px;

			&:last-child {
				padding-right: 0;
			}

			a {
				color: $star-dust;
				font-size: $fz-small;

				span {
					margin-left: 12px;
				}
			}
		}

		@media (--medium-down) {
			text-align: center;
			float: none;

			li {
				border-left: 0;

				&:last-child {
					padding-right: 20px;
				}
			}
		}
	}
}

.site-name {
	margin: 20px 0;
	line-height: 1;
}

