/* specific mixin for hero section */
@define-mixin hero-small-text {
	font-family: $font-secondary;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

@b hero {
	background: url(../images/hero/hero-bg.jpg) no-repeat left top;
	background-size: cover;
	color: $white;
	height: 100vh;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: color($color-secondary a(60%));
	}

	@e text-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 10;
	}

	@e text-line-one {
		@mixin hero-small-text;
	}

	@e text-line-two {
		font-size: 72px;
	}

	@e text-line-three {
		font-size: 24px;
		text-transform: uppercase;
		position: relative;

		&::before,
		&::after {
			content: '';
			display: inline-block;
			height: 1px;
			width: 35px;
			background: $white;
			vertical-align: middle;
		}

		&::before {
			margin-right: 25px;
		}

		&::after {
			margin-left: 25px;
		}

		.fa {
			display: inline-block;
			margin: 0 25px;
		}
	}

	@e text-line-four {
		@mixin hero-small-text;
	}
}