.service-wrap {
	margin-top: 100px;

	> .columns:last-child > .service {
		margin-bottom: 0;
	}
}

@b service {
	background: $white;
	text-align: center;
	max-width: 270px;
	width: 100%;
	padding: 90px 15px 30px;
	margin: 0 auto;
	position: relative;

	@e icon {
		background: $color-secondary;
		color: $white;
		height: 100px;
		width: 100px;
		line-height: 100px;
		text-align: center;
		position: absolute;
		transform: rotateZ(45deg);
		top: -50px;
		left: calc((100% - 100px) / 2);

		.fa {
			transform: rotateZ(-45deg);
			font-size: $h3-fz;
		}
	}

	@e name {
		margin: 0;
	}

	@media (--medium-down) {
		margin-bottom: 100px;
	}
}