.widget {
	margin-bottom: 40px;
}

.widget-title {
	font-size: 24px;
	margin: 0 0 20px;
}

.widget_categories {

	.cat-item {
		padding: 10px 10px 10px 25px;
		position: relative;

		&:not(:last-child) {
			border-bottom: 1px solid color($star-dust a(20%));
		}

		&::before {
			font-family: 'fontAwesome';
			content: '\f105';
			position: absolute;
			left: 0;
			color: $star-dust;
		}
	}
}

.widget_events {

	.event-item {
		max-width: 300px;
		width: 100%;
	}

	.event-item:not(:last-child) {
		margin-bottom: 25px;
	}

	.event-link {
		color: $white;
	}

	.event-frame {
		position: relative;
	}

	.event-thumbnail > img {
		width: 100%;
	}

	.event-meta {
		background: color($color-secondary a(80%));
		position: absolute;
		padding: 10px;
		left: 0;
		width: 100%;
		bottom: 15px;
	}

	.event-title {
		font-size: 18px;
		margin: 0;
	}

	.event-time {
		font-size: 14px;
		font-style: italic;
	}
}

.widget_filter {
	.irs {
		margin-bottom: 25px;
	}
}

@b wpi {
	display: flex;

	&:not(:last-child) {
		margin-bottom: 25px;
	}

	@e thumbnail {
		display: inline-block;
		height: auto;
		max-width: 84px;
	}

	@e context {
		padding-left: 15px;
	}

	@e context-h {
		font-size: 14px;
		margin: 0 0 10px;
		line-height: 1.2;
	}

	@e context-rate {
		font-size: 14px;
	}

	@e context-price {
		margin: 0;
	}
}

.wpi__context-rate--1 {

	> .fa:nth-child(1) {
		color: $color-primary;
	}
}

.wpi__context-rate--2 {

	> .fa:nth-child(1),
	> .fa:nth-child(2) {
		color: $color-primary;
	}
}

.wpi__context-rate--3 {

	> .fa:nth-child(1),
	> .fa:nth-child(2),
	> .fa:nth-child(3) {
		color: $color-primary;
	}
}

.wpi__context-rate--4 {

	> .fa:nth-child(1),
	> .fa:nth-child(2),
	> .fa:nth-child(3),
	> .fa:nth-child(4) {
		color: $color-primary;
	}
}

.wpi__context-rate--5 {

	> .fa {
		color: $color-primary;
	}
}

@media (--medium-down) {
	.sidebar {
		margin-top: 60px;
	}
}
