.site-banner {
	padding: 150px 0 30px;

	.intro-h {
		font-size: 48px;

		@media (--medium-down) {
			font-size: 32px;
		}
	}

	@media (--medium-down) {
		padding-top: 200px;
	}

	.hr-decor,
	.breadcrumb {
		margin-top: 10px;
	}
}