- var n = 1
- var url = './blog-detail.html'
while n < 6
	article.card.card--stack
		figure.card__thumbnail
			a(href="#{url}").card__thumbnail-link
				img(src="./images/blog/blog-thumbnail-#{n++}.jpg", alt="").card__thumbnail-img
			figcaption.card__thumbnail-meta
				time(datetime="07-15-1991").card__datetime 15 July 1991

		h3.card__title: a(href="#{url}") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

		p.card__text
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus! Accusantium eos earum aliquam facere animi aperiam nam nihil doloribus.
		p.card__meta
			| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>
