section.padding-small
	.row
		.large-8.large-offset-2.column
			article.event
				img(src="http://placehold.it/830x434", alt="")

				header
					h2.event__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis!
					.event__meta
						span
							i.fa.fa-clock-o
							time(datetime="") 7:00 am - 11:45 am
						span
							i.fa.fa-calendar-o
							time(datetime="") 01 Nov 2015
						span
							| <i class="fa fa-map-marker"></i> California

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusantium a sit obcaecati perspiciatis vero, nobis sunt temporibus quos delectus, fuga recusandae, quaerat aspernatur ut adipisci similique! Fugit, ullam! Ad ducimus voluptas et quasi. Inventore incidunt mollitia, sit eum ad, laudantium pariatur nesciunt, cumque odit reiciendis deserunt tempora quisquam cupiditate. Mollitia asperiores quos repellat, consequatur dicta.

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nisi dolore culpa explicabo eum odio tenetur, mollitia totam hic accusantium labore vel, repudiandae.

				.event__paginate
					div
						a(href="#").btn.btn--dark Prev Event

					div
						a(href="#").btn.btn--dark Next Event