//- FOOTER
footer.site-footer
	.bg--beta.padding-small
		.row
			.large-6.large-offset-3.column.text-center
				h2.site-logo
					a(href="#")
						img(src="images/logo/logo.png", alt="Chilli restaurant")
						span.sr-only Chilli restaurant logo
				h4.text-light Chào mừng bạn tới nhà hàng Làng Chài
				p.text-light
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tenetur aut fugit cum perferendis, exercitationem suscipit amet, itaque voluptate quam nesciunt, reiciendis dolore consequuntur, eveniet ipsa dolorem neque optio deleniti.

	.site-footer__alpha.padding-small
		.row
			.medium-4.columns
				h2.site-footer__h Newsletter
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores maxime, atque ad error ab. Aut suscipit, sapiente aliquid similique quidem hic natus.

				form(action="/").site-footer-form
					.form-control.form-control--oneline
						label(for="newletter").sr-only your email
						input(type="email" name="newletter" placeholder="example@gmail.com").form-input#newletter
						button(type="submit").btn.btn--primary
							| <span class="sr-only">Register</span> <i class="fa fa-chevron-right"></i>
				
			.medium-4.columns
				h2.site-footer__h Giờ mở cửa
				ul.site-footer__list-flex
					li
						span Thứ Hai
						em Đóng cửa
					li
						span Thứ Ba - Thứ Sáu
						em 10am - 12am
					li
						span Thứ Bảy - Chủ Nhật
						em 7am - 1am
					li
						span Ngày lễ
						em 12pm - 12am

			.medium-4.columns
				h2.site-footer__h Liên hệ
				ul.site-footer__list
					li
						i.fa.fa-map-marker
						span 1600 Blue Amphitheatre Parkway, Mountain View, CA 94043, USA.
					li
						i.fa.fa-phone
						span 0316 293 888 - 0989 75 75 75
					li
						i.fa.fa-envelope
						span langchaicatba@gmail.com
	
	.site-footer__beta.padding-small
		.row
			.medium-6.medium-offset-3.column
				p.site-copyright
					| Copyright &copy; 2015 CHILLI Restaurant. Made by <a href="http://github.com/nguyenmanh1507" target="_blank">NgManh</a> with <i class="fa fa-music"></i> and <i class="fa fa-beer"></i>.

				ul.site-social
					li
						a(href="#" target="_blank")
							i.fa.fa-facebook
					li
						a(href="#" target="_blank")
							i.fa.fa-instagram
					li
						a(href="#" target="_blank")
							i.fa.fa-youtube

//- END FOOTER

//- SEARCH FORM
include ./searchform.jade

//- SCROLL TO TOP LINK
a(href="#")#apricot.apricot: i.fa.fa-chevron-up
//- END SCROLL TO TOP LINK

script(src="bower_components/jquery/dist/jquery.js")
// bower:js
// endbower
script(src="scripts/jquery.arctext.js")
script(src="scripts/jquery.apricot.js")
	
if filter
	script(src="bower_components/mixitup/src/jquery.mixitup.js")

script(src="scripts/app.js")

if gMap
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2rhI_EktwXhqendX1yRgpC6mHQvpp8Zo&callback=initMap&signed_in=true", async, defer)
	script(src="scripts/googlemap.js")

