head
	meta(charset="UTF-8")
	title Chilli Restaurant
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	// bower:css
	// endbower
	link(rel="stylesheet", href="bower_components/datetimepicker/jquery.datetimepicker.css")
	link(rel="stylesheet" href="css/foundation.css")
	link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css")
	link(rel="stylesheet" href="css/app.css")

	
