header.site-header
	.dark-bg.section-half-padding
		.row
			.medium-6.columns
				p.text-muted.text-mini Welcome to Chilli restaurant

			.medium-6.columns
				ul.list-icon-horizontal.border-left
					li
						a.text-muted.text-mini(href="#")
							| <i class="fa fa-phone"></i> (00) 123 456 789
						a.text-muted.text-mini(href="#")
							| <i class="fa fa-envelope"></i> info@companyname.com
						a.text-muted.text-mini(href="#")
							| <i class="fa fa-search"></i>

	.dark-opacity-bg
		.row
			.medium-2.columns
				h1.site-logo
					a(href="#")
						| <span class="sr-only">Chilli Restaurant</span><img src="images/logo/logo.png">

			.medium-10.columns
				nav.site-nav.pull-right
					ul
						li: a(href="#") Home
						li: a(href="#") About
						li: a(href="#") Reservation
						li: a(href="#") Menu
						li: a(href="#") Events
						li: a(href="#") Blog
