header.site-header.l-absolute
	.dark-bg
		.row
			.medium-6.columns
				p.text-muted.text-mini.mt-10 Welcome to Chilli restaurant

			.medium-6.columns
				ul.list-icon-horizontal.border-left.text-right
					li
						a.text-muted.text-mini(href="#")
							| <i class="fa fa-phone"></i> (00) 123 456 789
					li
						a.text-muted.text-mini(href="#")
							| <i class="fa fa-envelope"></i> info@companyname.com

					li
						a.text-muted.text-mini(href="#")
							| <i class="fa fa-search"></i>

	.dark-opacity-bg
		.row
			.medium-2.columns
				h1.site-logo
					a(href="#")
						| <span class="sr-only">Chilli Restaurant</span><img src="images/logo/logo.png">

			.medium-10.columns
				nav.site-nav
					ul.text-right
						li: a(href="#") Home
						li: a(href="#") About
						li: a(href="#") Reservation
						li: a(href="#") Menu
						li: a(href="#") Events
						li: a(href="#") Blog
