
header.site-header
	.site-header__alpha
		.row
			.medium-4.columns
				p.site-header__alpha-text Chào mừng bạn tới nhà hàng Làng Chài

			.medium-8.columns
				ul.site-header__alpha-list
					li
						a(href="tel:+(84)989757575")
							| <i class="fa fa-phone"></i> <span>+(84) 989 75 75 75</span>
					li
						a(href="mailto:langchaicatba@gmail.com")
							| <i class="fa fa-envelope"></i> <span>langchaicatba@gmail.com</span>
					li
						a(href="#")#formTrigger
							| <i class="fa fa-search"></i>

	.site-header__beta
		.row
			.small-6.medium-6.large-3.columns
				h1.site-name
					a(href="./")
						img(src="images/logo/logo.png", alt="")

			.small-6.medium-6.columns.hide-for-large
				a(href="#").site-nav-icon#hamburger
					| Menu <i class="fa fa-bars"></i>

			.large-9.columns
				nav.site-nav#siteNav
					ul
						li.active
							a(href="./") Trang chủ
						li
							a(href="./about.html") Nhà hàng
						li
							a(href="./reservation.html") Đặt bàn
						li
							a(href="./menu.html") Menu
						li
							a(href="./events.html") Sự kiện
						li
							a(href="./blog.html") Tin tức
						li
							a(href="./contact.html") Liên hệ



