
header.site-header
	.site-header__alpha
		.row
			.medium-3.columns
				p.site-header__alpha-text Welcome to Chilli restaurant

			.medium-9.columns
				ul.site-header__alpha-list
					li
						a(href="#")
							| <i class="fa fa-phone"></i> (00) 123 456
					li
						a(href="#")
							| <i class="fa fa-envelope"></i> info@example.com
					li
						a(href="#")
							| <i class="fa fa-search"></i>

	.site-header__beta
		.row
			.medium-3.columns
				h1.site-name
					a(href="#")
						img(src="images/logo/logo.png", alt="")

			.medium-9.columns
				nav.site-nav
					ul
						li
							a(href="#") Home
						li
							a(href="#") About
						li
							a(href="#") Reservation
						li
							a(href="#") Menu
						li
							a(href="#") Events
						li
							a(href="#") Blog
						li
							a(href="#") Contact

