
header.site-header
	.site-header__alpha
		.row
			.medium-4.columns
				p.site-header__alpha-text Welcome to Chilli restaurant

			.medium-8.columns
				ul.site-header__alpha-list
					li
						a(href="#")
							| <i class="fa fa-phone"></i> <span>(00) 123 456</span>
					li
						a(href="#")
							| <i class="fa fa-envelope"></i> <span>info@example.com</span>
					li
						a(href="#")
							| <i class="fa fa-search"></i>

	.site-header__beta
		.row
			.small-6.medium-6.large-3.columns
				h1.site-name
					a(href="#")
						img(src="images/logo/logo.png", alt="")

			.small-6.medium-6.columns.hide-for-large
				a(href="#").site-nav-icon#hamburger
					| Menu <i class="fa fa-bars"></i>

			.large-9.columns
				nav.site-nav#siteNav
					ul
						li.active
							a(href="./") Home
						li
							a(href="./about.html") About
						li
							a(href="./reservation.html") Reservation
						li
							a(href="#") Menu
						li
							a(href="#") Events
						li
							a(href="#") Blog
						li
							a(href="#") Contact



