.hero
	section.hero__text-wrap
		p.hero__text-line-one Since 1987
		h2.h-special.hero__text-line-two Welcome to Chilli Restaurant
		p.hero__text-line-three
			| Coffee <i class="fa fa-star"></i> Bar <i class="fa fa-star"></i> Restaurant
		p.hero__text-line-four Silver spring, md

.section-padding
	.row
		.medium-6.columns
			article.text-center
				h2.h-special About Restaurant
				p.text-small.text-bold A premium restaurant wordPress theme
				.hr-special
					| <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>

				p.text-center.text-bold
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus vitae distinctio, dolor cumque earum error, quo voluptatum consequatur pariatur qui.

		.medium-6.columns
			.img-border
				img(src="http://placehold.it/448x448", alt="")
				.img-inner
					img(src="images/logo/logo.png", alt="")

.section-padding.section-bottom-bg.gray-bg
	.row
		.small-12.column
			section.menu
				h2.h-special.text-center.mb-30 Menu Today

				.row.mb-30
					.medium-4.columns
						article
							h3.h-bold.text-center Breakfast

							ul.text-center
								li.menu__dish
									h4.menu__dish-name Soupe du jour
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Red Mojitos
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Smoky Paloma
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Sun Coctail
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

					.medium-4.columns
						article
							h3.h-bold.text-center Lunch

							ul.text-center
								li.menu__dish
									h4.menu__dish-name Soupe du jour
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Red Mojitos
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Smoky Paloma
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Sun Coctail
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

					.medium-4.columns
							article
								h3.h-bold.text-center Dinner

								ul.text-center
									li.menu__dish
										h4.menu__dish-name Soupe du jour
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

									li.menu__dish
										h4.menu__dish-name Red Mojitos
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

									li.menu__dish
										h4.menu__dish-name Smoky Paloma
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

									li.menu__dish
										h4.menu__dish-name Sun Coctail
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

				.text-center
					a.btn.btn--dark(href="#") All menu

section.section-padding.section-has-bg
	.row.text-center
		.small-12.column
			h2.h-special.text-light Make online reservation
			p.text-small.text-light Booking a table online is easy and takes just a couple of minutes.
			.hr-special
				| <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>

	.row
		.small-12.column
			.form(method="POST")#reservationForm

				.form__group
					lable(for="name")
					input(type="text" name="name" class="form__field" id="name" placeholder="Name:")
				
				.form__group
					label(for="datetime")
					input(type="text" name="datetime" class="form__field" id="datetime" placeholder="Date & time:")

				.form-group
					label(for="email")
					input(type="email" name="email" class="form__field" id="email" placeholder="Email:")

				.form-group
					label(for="phone")
					input(type="text" name="phone" class="form__field" id="phone" placeholder="Phone:")

				.form-group
					label(for="peopleNum")
					input(type="text" name="people-num" class="form__field" id="peopleNum" placeholder="How people")

				.text-center
					button.btn.btn--primary Book now

section.section-padding.gray-bg
	.row.text-center
		.small-12.column
			h2.h-special Our Services
			p.text-small A premium restaurant wordPress theme
			.hr-special: i.fa.fa-star

	.row
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-beer
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-beer
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-beer
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-beer
				h3.service__name Wedding special

section.section-padding.section-has-bg
	.row.text-center
		.small-12.column
			h2.h-special.text-light Gallery

	section.slider
		p Slider placeholder

		.text-center
			a.btn.btn--light

section.section-padding
	.row.text-center
		.small-12.column
			h2.h-special News &amp; Events
			p.text-small
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur minus in repellendus recusandae ullam aut quis ducimus deserunt, deleniti quidem illum molestiae. Est optio voluptas perferendis a illo quidem facilis.
			.hr-special: i.fa.fa.star
	
	.l-masonry
		.l-masonry__item
			figure.card
				a(href="#").card__img-link
					img(src="http://placehold.it/370x263", alt="")

				figcaption
					time(datetime="").text-mini 15 July, 2016
					h2.card__h
						a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					
					p.card__text
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ut autem ipsum, perferendis, amet fugiat earum aliquid officiis, sunt doloribus obcaecati quo ad. Error dolor excepturi illo enim, modi maxime.

					p.text-mini
						| By <a href="#">Kavin</a>, <a href="#">12 Commments</a>
		
		.l-masonry__item
			figure.card
				a(href="#").card__img-link
					img(src="http://placehold.it/370x425", alt="")

				figcaption
					time(datetime="").text-mini 15 July, 2016
					h2.card__h
						a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					
					p.card__text
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ut autem ipsum, perferendis, amet fugiat earum aliquid officiis, sunt doloribus obcaecati quo ad. Error dolor excepturi illo enim, modi maxime.

					p.text-mini
						| By <a href="#">Kavin</a>, <a href="#">12 Commments</a>

		.l-masonry__item
			figure.card
				a(href="#").card__img-link
					img(src="http://placehold.it/370x263", alt="")

				figcaption
					time(datetime="").text-mini 15 July, 2016
					h2.card__h
						a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					
					p.card__text
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ut autem ipsum, perferendis, amet fugiat earum aliquid officiis, sunt doloribus obcaecati quo ad. Error dolor excepturi illo enim, modi maxime.

					p.text-mini
						| By <a href="#">Kavin</a>, <a href="#">12 Commments</a>

	.text-center
		a.btn.btn--dark View more news

.section.section-padding.section-has-bg

	.row.text-center
		.medium-8.medium-offset-2.column
			
			a(href="#").site-logo
				img(src="images/logo/logo.png", alt="")

			p.text-big.text-light Welcome to Chilli restaurant

			p.text-light
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est quibusdam iure cum nobis libero necessitatibus temporibus, quo accusamus iste?

