.hero
	section.hero__text-wrap
		p.hero__text-line-one Since 1987
		h2.h-special.hero__text-line-two Welcome to Chilli Restaurant
		p.hero__text-line-three
			| Coffee <i class="fa fa-star"></i> Bar <i class="fa fa-star"></i> Restaurant
		p.hero__text-line-four Silver spring, md

.section-padding
	.row
		.medium-6.columns
			article.text-center
				h2.h-special About Restaurant
				p.text-small A premium restaurant wordPress theme
				.hr-special: i.fa.fa.star

				p.text-center
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus vitae distinctio, dolor cumque earum error, quo voluptatum consequatur pariatur qui.

		.medium-6.columns
			.img-border
				img(src="http://placehold.it/448x448", alt="")
				.img-inner
					img(src="images/logo/logo.png", alt="")

.section-padding.section-bottom-bg
	.row
		.small-12.column
			section.menu
				h2.h-special.text-center Menu Today

				.row
					.medium-4.columns
						article
							h3.h-bold Breakfast

							ul
								li.menu__dish
									h4.menu__dish-name Soupe du jour
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Red Mojitos
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Smoky Paloma
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Sun Coctail
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

					.medium-4.columns
						article
							h3.h-bold Lunch

							ul
								li.menu__dish
									h4.menu__dish-name Soupe du jour
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Red Mojitos
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Smoky Paloma
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

								li.menu__dish
									h4.menu__dish-name Sun Coctail
									p.menu__dish-descr
										| Courge butternut, coco
									em.menu__dish-price
										| $38

					.medium-4.columns
							article
								h3.h-bold Dinner

								ul
									li.menu__dish
										h4.menu__dish-name Soupe du jour
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

									li.menu__dish
										h4.menu__dish-name Red Mojitos
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

									li.menu__dish
										h4.menu__dish-name Smoky Paloma
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

									li.menu__dish
										h4.menu__dish-name Sun Coctail
										p.menu__dish-descr
											| Courge butternut, coco
										em.menu__dish-price
											| $38

				.text-center
					a.btn.btn--dark(href="#") All menu

section.section-padding
	h2.h-special About Restaurant
	p.text-small A premium restaurant wordPress theme
	.hr-special: i.fa.fa.star

	.row
		.small-12.column
			.form(method="POST")#reservationForm
				.form-group
					lable(for="name")
					input(type="text" name="name" placeholder="Name:")

