//- HERO SECTION
section.site-hero
	.site-hero__text
		p.site-hero__text-one Since 1987
		h2.site-hero__text-two Welcome to Chilli Restaurant
		p.site-hero__text-three
			| Coffee <i class="fa fa-star"></i> Bar <i class="fa fa-star"></i> Restaurant
		p.site-hero__text-four Silver spring, md

//- END HERO SECTION

//- ABOUT SECTION
section.padding-medium
	.row
		.medium-6.columns
			.homepage-about
				h2.hompage-intro-h About Restaurant
				p.homepage-intro-text-mini A premium restaurant WordPress theme
				.hr-decor
				p.homepage-intro-text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem blanditiis, vel, inventore est quasi rerum quia aperiam vero dicta modi molestiae, pariatur consectetur placeat. Cumque porro sed tenetur adipisci.
		.medium-6.columns
			.homepage-about__frame
				img(src="http://placehold.it/448x448", alt="")
				.homepage-about__frame-inner
					img(src="images/logo/logo.png", alt="")

//- END ABOUT SECTION

//- MENU SECTION
section.padding-medium
	.row
		.small-12.column
			.homepage-menu
				h2.homepage-intro-h Menu Today

	.row
		.medium-3.medium-push-1.columns
			article.menu
				h3.menu__h Breakfast
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

		.medium-4.columns
			article.menu
				h3.menu__h Breakfast
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

		.medium-3.columns
			article.menu
				h3.menu__h Breakfast
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

		.text-center
			a.btn.btn--dark(href="#") All menu

//- END MENU SECTION

//- RESERVATION
section.padding-medium
	.row
		.small-12.column
			h2.hompage-intro-h Make Online Reservation
			.hr-decor
			p.homepage-intro-text Lorem ipsum dolor sit amet, consectetur.

	.row
		.small-12.column
			form.homepage-form(action="/")
				.form-control
					label(for="name").sr-only Name
					input(type="text" name="name").form-input#name
				.form-control
					label(for="datetime").sr-only Date and time
					input(type="text" name="datetime").form-input#datetime
				.form-control
					label(for="email").sr-only Email
					input(type="email" name="email").form-input#email
				.form-control
					label(for="phone").sr-only Phone
					input(type="text" name="phone").form-input#phone
				.form-control
					label(for="people").sr-only How People
					input(type="text" name="people").form-input#people
				button(type="submit").btn.btn--primary

//- END RESERVATION

//- SERVICES
section.pading-medium
	.row
		.small-12.column
			h2.homepage-intro-h Our Services
			.hr-decor
			p.homepage-intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.

	.row
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Birthday party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Office party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Party hostess

//- END SERVICES

//- GALLERY
section.padding-medium
	.row
		.small-12.column
			h2.homepage-intro-h Gallery

	.gallery
		h3 Gallery placeholder

	.row
		.small-12.column
			a.btn.btn--light(href="#") View more

//- END GALLERY

//- NEWS & EVENTS
section.padding-medium
	.row
		.small-12.column
			h2.hompage-intro-h News &amp; Events
			.hr-decor
			p.homepage-intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore deserunt necessitatibus dicta quas aut unde corrupti quisquam dignissimos dolor.

			.row
				.small-12.column
					.l-masonry
						.l-masonry__item
							article.card
								figure.card__thumbnail
									a(href="#").card__thumbnail-link
										img(src="http://placehold.it/370x263", alt="").card__thumbnail-img
								figcaption.card__thumbnail-meta
									time(datetime="07-15-1991").card__datetime

								h3.card__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

								p.card__text
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus! Accusantium eos earum aliquam facere animi aperiam nam nihil doloribus, magni harum nulla similique laboriosam eveniet eius!
								p.card__meta
									| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>

						.l-masonry__item
							article.card
								figure.card__thumbnail
									a(href="#").card__thumbnail-link
										img(src="http://placehold.it/370x263", alt="").card__thumbnail-img
								figcaption.card__thumbnail-meta
									time(datetime="07-15-1991").card__datetime

								h3.card__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

								p.card__text
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus! Accusantium eos earum aliquam facere animi aperiam nam nihil doloribus, magni harum nulla similique laboriosam eveniet eius!
								p.card__meta
									| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>
									
						.l-masonry__item
							article.card
								figure.card__thumbnail
									a(href="#").card__thumbnail-link
										img(src="http://placehold.it/370x263", alt="").card__thumbnail-img
								figcaption.card__thumbnail-meta
									time(datetime="07-15-1991").card__datetime

								h3.card__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

								p.card__text
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus! Accusantium eos earum aliquam facere animi aperiam nam nihil doloribus, magni harum nulla similique laboriosam eveniet eius!
								p.card__meta
									| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>

						.row
							.small-12.column.text-center
								a(href="#").btn.btn--dark View more news
									