//- BREAKFAST
.row.column
	article.menu
		h3.menu__h Breakfast
		.row
			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd
- var n = 1
#breakfast.menu-dish
	while n < 7
		.gallery__item
			img(src="images/menu/breakfast/breakfast-#{n++}.jpg", alt="")

//- END BREAKFAST

//- LUNCH
.row.column
	article.menu
		h3.menu__h Lunch
		.row
			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

- var n = 1
#lunch.menu-dish
	while n < 7
		.gallery__item
			img(src="images/menu/lunch/lunch-#{n++}.jpg", alt="")

//- END LUNCH

//- DINNER
.row.column
	article.menu
		h3.menu__h Dinner
		.row
			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

			.medium-4.columns
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

- var n = 1
#dinner.menu-dish
	while n < 7
		.gallery__item
			img(src="images/menu/dinner/dinner-#{n++}.jpg", alt="")
//- END DINNER