section.padding-small
	.row.text-center
		.medium-8.medium-offset-2.column
			h2 We'd love to hear from you
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit, inventore pariatur ipsa voluptatem voluptates, praesentium! Minima quo aspernatur beatae, sit eveniet asperiores rerum aut esse ullam fugit, velit, reiciendis!
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sed, repellendus numquam id molestias excepturi, hic nihil in neque doloremque laborum, temporibus error odio aliquid unde dolorem!

#gMap.g-canvas

section.padding-small
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Send a Message
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.
	
	.row
		.medium-8.medium-offset-2.column
			form.homepage-form(action="/")
				.form-control.form-control--gray
					label(for="name").sr-only Name
					input(type="text" name="name" placeholder="Name :").form-input#name
				.form-control.form-control--gray
					label(for="email").sr-only Email
					input(type="email" name="email" placeholder="Email :").form-input#email
				.form-control.form-control--gray
					label(for="message").sr-only Message
					textarea(name="message" placeholder="Message :").form-input#mesage

				.text-center
					button(type="submit").btn.btn--primary Send Now