section.padding-small
	.row.column.text-center
		.filter
			button(data-filter="").filter__item All
			button(data-filter="").filter__item Clutchestt
			button(data-filter="").filter__item Crossbody
			button(data-filter="").filter__item Hobos
			button(data-filter="").filter__item Totes