//- ABOUT SECTION
section.padding-medium
	.row
		.medium-6.columns
			.homepage-about
				h2.intro-h About Restaurant
				p.intro-text-mini A premium restaurant WordPress theme
				.hr-decor
				p.intro-text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem blanditiis, vel, inventore est quasi rerum quia aperiam vero dicta modi molestiae, pariatur consectetur placeat. Cumque porro sed tenetur adipisci.
		.medium-6.columns
			.homepage-about__frame
				img(src="images/seafood/showcase-of-seafood-in-the-sea-market.jpg", alt="")
				.homepage-about__frame-inner
					img(src="images/logo/logo.png", alt="")

//- END ABOUT SECTION

//- SERVICES
section.padding-medium.bg--omega
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Our Services
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.

	.row.service-wrap
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Birthday party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Office party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Party hostess

//- END SERVICES