//- RESERVATION FORM
section.padding-medium
	.row
		.medium-6.medium-offset-3.column
			p.text-center Booking a table online is easy and takes just a couple of minutes.
			form.homepage-form(action="/")
				.form-control.form-control--gray
					label(for="name").sr-only Name
					input(type="text" name="name" placeholder="Name :").form-input#name
				.form-control.form-control--gray
					label(for="datetime").sr-only Date and time
					input(type="text" name="datetime" placeholder="Date and time :").form-input#datetime
				.form-control.form-control--gray
					label(for="email").sr-only Email
					input(type="email" name="email" placeholder="Email :").form-input#email
				.form-control.form-control--gray
					label(for="phone").sr-only Phone
					input(type="text" name="phone" placeholder="Phone number :").form-input#phone
				.form-control.form-control--gray
					label(for="people").sr-only How People
					input(type="text" name="people" placeholder="How many people :").form-input#people

				.text-center
					button(type="submit").btn.btn--primary Book Now
//- END RESERVATION FORM

//- RESERVATION
section.reservation-wrap.padding-small
	.row.text-center.text-light
		.medium-6.columns
			.reservation
				h2.reservation__title Reservation by phone
				p.reservattion__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consectetur accusamus explicabo sequi, doloribus.
				a(href="#").reservation__cta +1-202-555-0162
		.medium-6.columns
			.reservation
				h2.reservation__title Private events
				p.reservation__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eos, deleniti neque.
				a(href="#").reservation__cta events@info.com

//- END RESERVATION

//- SERVICES
section.padding-medium.bg--alpha
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Our Services
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.

	.row.service-wrap
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Birthday party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Office party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Party hostess

//- END SERVICES