section.padding-small
	.row.text-center
		.medium-8.medium-offset-2.column
			h2 Chúng tôi rất vui khi nghe ý kiến từ bạn
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit, inventore pariatur ipsa voluptatem voluptates, praesentium! Minima quo aspernatur beatae, sit eveniet asperiores rerum aut esse ullam fugit, velit, reiciendis!
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sed, repellendus numquam id molestias excepturi, hic nihil in neque doloremque laborum, temporibus error odio aliquid unde dolorem!

#gMap.g-canvas

section.padding-small
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Form liên hê
			.hr-decor
			p.intro-text
				| Bạn có thắc mắc muốn giải đáp hoặc muốn đóng góp ý kiến nâng cao chất lượng nhà hàng. Hãy gửi tin nhắn cho chúng tôi.
	
	.row
		.medium-8.medium-offset-2.column
			form.homepage-form(action="/")
				.form-control.form-control--gray
					label(for="name").sr-only Tên
					input(type="text" name="name" placeholder="Họ tên :").form-input#name
				.form-control.form-control--gray
					label(for="email").sr-only Email
					input(type="email" name="email" placeholder="Email :").form-input#email
				.form-control.form-control--gray
					label(for="message").sr-only Tin nhắn
					textarea(name="message" placeholder="Tin nhắn :").form-input#mesage

				.text-center
					button(type="submit").btn.btn--primary Gửi tin nhắn