//- RESERVATION FORM
section.padding-medium
	.row
		.medium-6.medium-offset-3.column
			p.text-center Đặt bàn online rất dễ dàng và thuận tiện.
			form.homepage-form(action="/")
				.form-control.form-control--gray
					label(for="name").sr-only Tên
					input(type="text" name="name" placeholder="Họ tên :").form-input#name
				.form-control.form-control--gray
					label(for="datetime").sr-only Thời gian
					input(type="text" name="datetime" placeholder="Thời gian :").form-input#datetime
				.form-control.form-control--gray
					label(for="email").sr-only Email
					input(type="email" name="email" placeholder="Email :").form-input#email
				.form-control.form-control--gray
					label(for="phone").sr-only Điện thoại
					input(type="text" name="phone" placeholder="Điện thoại :").form-input#phone
				.form-control.form-control--gray
					label(for="people").sr-only Số người
					input(type="text" name="people" placeholder="Số người :").form-input#people

				.text-center
					button(type="submit").btn.btn--primary Đặt bàn
//- END RESERVATION FORM

//- RESERVATION
section.reservation-wrap.padding-small
	.row.text-center.text-light
		.medium-6.columns
			.reservation
				h2.reservation__title Đặt bàn bằng điện thoại
				p.reservattion__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consectetur accusamus explicabo sequi, doloribus.
				a(href="tel:+(84)989757575").reservation__cta 0989 75 75 75
		.medium-6.columns
			.reservation
				h2.reservation__title Tổ chức sự kiện
				p.reservation__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eos, deleniti neque.
				a(href="mailto:langchaicatba@gmail.com").reservation__cta langchaicatba@gmail.com

//- END RESERVATION

//- SERVICES
section.padding-medium.bg--alpha
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Dich vu
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.

	.row.service-wrap
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Birthday party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Office party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Party hostess

//- END SERVICES