//- ABOUT SECTION
section.padding-medium
	.row
		.medium-6.columns
			.homepage-about__frame
				img(src="images/seafood/showcase-of-seafood-in-the-sea-market.jpg", alt="")
				.homepage-about__frame-inner
					img(src="images/logo/logo.png", alt="")
						
		.medium-6.columns
			.homepage-about
				h2.intro-h About Restaurant
				p.intro-text-mini A premium restaurant WordPress theme
				.hr-decor
				p.intro-text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem blanditiis, vel, inventore est quasi rerum quia aperiam vero dicta modi molestiae, pariatur consectetur placeat. Cumque porro sed tenetur adipisci.

//- END ABOUT SECTION

//- SERVICES
section.padding-medium.bg--alpha
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Our Services
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.

	.row.service-wrap
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Birthday party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Office party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Party hostess

//- END SERVICES

//- STAFF
- var imgSrc = './images/staff/'
section.padding-medium
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Our Staff
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, placeat, voluptatem. Tenetur consectetur nostrum ducimus soluta. Ad eaque veritatis aliquam cum temporibus!

	.row
		.medium-6.large-3.columns
			figure.pic-frame
				img(src="#{imgSrc}staff-1.jpg", alt="Staff").pic-frame__imgi
				figcaption.pic-frame__meta
					h3.pic-frame__name Lorem ipsum dolor sit.
					p.pic-frame__role Chef
					
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-facebook
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-twitter
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-google-plus
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-linkedin

		.medium-6.large-3.columns
			figure.pic-frame
				img(src="#{imgSrc}staff-2.jpg", alt="Staff").pic-frame__imgi
				figcaption.pic-frame__meta
					h3.pic-frame__name Lorem ipsum dolor sit.
					p.pic-frame__role Chef
					
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-facebook
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-twitter
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-google-plus
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-linkedin

		.medium-6.large-3.columns
			figure.pic-frame
				img(src="#{imgSrc}staff-3.jpg", alt="Staff").pic-frame__imgi
				figcaption.pic-frame__meta
					h3.pic-frame__name Lorem ipsum dolor sit.
					p.pic-frame__role Chef
					
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-facebook
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-twitter
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-google-plus
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-linkedin

		.medium-6.large-3.columns
			figure.pic-frame
				img(src="#{imgSrc}staff-4.jpg", alt="Staff").pic-frame__imgi
				figcaption.pic-frame__meta
					h3.pic-frame__name Lorem ipsum dolor sit.
					p.pic-frame__role Chef
					
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-facebook
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-twitter
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-google-plus
					a(href="#", target="_blank").pic-frame__social-link: i.fa.fa-linkedin

//- END STAFF

//- TESTIMONIAL
section.padding-medium.bg--alpha
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Testimonial
			.hr-decor
	
	.row
		.medium-8.medium-offset-2.columns
			#blockquote
				blockquote.bq
					p.bq__content
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quod a quasi porro ipsa delectus modi itaque sunt voluptate vitae.

					.bq__img
						img(src="./images/testimonial/avatar-1.jpg", alt="")

					cite.bq__cite John Smith
					p.bq__cite-job Web Designer
				
				blockquote.bq
					p.bq__content
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ad error cumque nihil dolores asperiores est modi, quia explicabo adipisci nisi nesciunt repellat repellendus inventore placeat ea nam iste rem ducimus, distinctio voluptatum.

					.bq__img
						img(src="./images/testimonial/avatar-2.jpg", alt="")

					cite.bq__cite John Smith
					p.bq__cite-job Web Designer

//- END TESTIMONIAL