//- PAGINATE
.paginate
  span.page-numbers: i.fa.fa-angle-left
  span.page-numbers.current 1
  a(href="#").page-numbers 2
  a(href="#").page-numbers 3
  a(href="#").page-numbers: i.fa.fa-angle-right
//- END PAGINATE
