.modal#modal
	.modal-inner
		.modal-content
			
			button#closeModal.close-modal X Đóng

			form(action="").search-form
				label.sr-only(for="s") Tìm kiếm
				input(type="search" name="s" placeholder="Tìm kiếm..." required)#s
				button(type="submit")
					span.sr-only Tìm kiếm
					i.fa.fa-search