.modal#modal
	.modal-inner
		.modal-content
			form(action="").search-form
				label.sr-only(for="s") Keyword
				input(type="search" name="s" placeholder="Keyword..." required)#s
				button(type="submit")
					span.sr-only Search
					i.fa.fa-search
