article.post
	.post__thumbnail
		img(src="http://placehold.it/800x390", alt="")

	time(datetime="").post__time 15 July, 1991

	h1.post__title Lorem ipsum dolor sit amet, consectetur adipisicing.

	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex porro, reiciendis rerum perspiciatis optio nihil unde laudantium quae, quibusdam minus assumenda, magni.

	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam autem labore in et itaque vel assumenda, aspernatur eaque facere accusantium fugit necessitatibus veniam animi placeat fugiat alias ea vero minima ratione deserunt nobis qui libero dignissimos soluta aperiam. Sint, quisquam.

	figure
		img(src="http://placehold.it/600x400", alt="")
		figcaption
			em Lorem ipsum dolor sit amet, consectetur.

	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ducimus cupiditate optio ut non quo obcaecati, quae sequi. Dolor sit maxime sunt iste animi molestias praesentium architecto qui quasi. Minima iusto accusamus, nihil rerum porro officia neque at earum iure sit, eos sed hic molestiae molestias velit modi ipsam fugit distinctio! Recusandae incidunt quam unde reprehenderit aliquam labore illo voluptas.

	blockquote
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit harum blanditiis natus et consectetur.
		cite - Nguyen Manh

	ul
		li Lorem ipsum.
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus facere dolore at.
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, alias.
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum!

	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi distinctio similique voluptates ipsam beatae sit voluptas nam maxime cum ex! Alias quasi nesciunt iste nostrum provident quae, ipsum esse enim unde distinctio voluptates temporibus illum, ab reiciendis deserunt, nam ducimus. Odit incidunt, pariatur, cumque obcaecati eum harum dolorem error neque maxime! Iure, doloremque nostrum animi alias molestias, ullam architecto vero amet, quo tempora sit cupiditate dolorem. Totam in ad eum facilis deserunt libero rerum sequi praesentium. Dolores, consequatur. Debitis fuga reprehenderit eos provident, architecto minima, corporis mollitia molestiae atque vitae temporibus inventore consequuntur cupiditate, laboriosam laborum quos tempore incidunt culpa!

	table
		thead
			tr
				th Lorem ipsum dolor.
				th Lorem ipsum dolor sit amet.
		tbody
			tr
				td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eos, atque assumenda.
				td Lorem ipsum dolor sit amet, consectetur adipisicing.

	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quo possimus, at ex debitis nulla expedita autem eligendi, consequatur omnis distinctio voluptates eius ducimus aperiam fugiat, aspernatur incidunt quisquam, qui quod nam.

	.post__tags
		| <i class="fa fa-tags"></i> <a href="#">seafood</a>, <a href="#">Cat Ba Festival</a>