.site-banner.bg--beta
	.row
		.medium-8.medium-offset-2.column.text-center
			h2.intro-h.text-light= bannerText
			.hr-decor.hr-decor--light
			
			.breadcrumb
				ul
					li
						a(href="#") Home
					li= breadcrumbText