<!DOCTYPE html>
html(lang="en")
	//- HEAD
	include ./components/head.jade

	body
		
		//- HEADER
		include ./components/header.jade

		//- BANNER
		include ./components/site-banner.jade

		//- PAGE ABOUT
		include ./components/page-about.jade
		
		//- FOOTER
		include ./components/footer.jade