<!DOCTYPE html>
html(lang="en")
	//- HEAD
	include ./components/head.jade

	body

		//- HEADER
		include ./components/header.jade

		//- BANNER
		- var bannerText = "Liên hê"
		- var breadcrumbText = 'Liên hệ'

		include ./components/site-banner.jade
		
		//- CONTACT
		include ./components/page-contact.jade
		
		- var gMap = true
		//- FOOTER
		include ./components/footer.jade