//- FOOTER
footer.site-footer
	.section-has-bg
		.row
			.medium-6.medium-offset-2.column.text-center
				h2.site-logo
					a(href="#")
						img(src="images/logo/logo.png", alt="Chilli restaurant")
				p.text-light
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tenetur aut fugit cum perferendis, exercitationem suscipit amet, itaque voluptate quam nesciunt, reiciendis dolore consequuntur, eveniet ipsa dolorem neque optio deleniti.

	.site-footer__alpha
		.row
			.medium-4.columns
				
			.medium-4.columns

			.medium-4.columns
	
	.site-footer__beta
		.row
			.medium-4.medium-offset-4.column
				p.site-copyright
					| Copyright &copy; 2015 CHILLI Restaurant. Theme by Nootheme

				ul.site-social
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-instagram
					li
						a(href="#")
							i.fa.fa-youtube

//- END FOOTER

script(src="bower_components/jquery/dist/jquery.js")
// bower:js
// endbower
script(src="scripts/app.js")
