footer.site-footer
	section.section-half-padding.mine-bg
		.row
			.medium-4.columns
				h5.text-light Newsletter

				p.text-muted
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit.

				form(action="", method="POST").form
					.form__group.form__group--oneline
						label(for="newletter")
						input(type="email" name="newletter" class="form__field" id="newletter" placeholder="enter your email")
						button(type="submit").btn.btn--primary
							i.fa.fa-chevron-right

			.medium-4.columns
				h5.text-light Open Hours
				
				ul.list-flex
					li
						span.text-muted Mondays
						span Closed

					li
						span.text-muted Tue-Fri
						span 10am - 12am

					li
						span.text-muted Sat-Sun
						span 7am - 1am

					li
						span.text-muted Public Holidays
						span 12px - 12am

			.medium-4.columns
				h5.text-light Address

				ul.list-icon
					li
						i.fa.fa-map-marker
						span.text-muted
							| 1600 Blue Amphitheatre Parkway, Mountain View, CA 94043, USA.

					li
						i.fa.fa-phone
						a(href="#").text-muted
							| (212) 620 5682
						span.tex-muted -
						a(href="#").text-muted
							| (375) 620 5682

					li
						i.fa.fa-envelope
						a(href="#").text-muted support@example.com

	section.section-padding.shark-bg
		.row
			.small-12.column
				p.text-muted.text-center
					| Copyright &copy; 2016 Chilli Restaurant.

				ul.list-inline.list-center.icon
						li
							a(href="#").icon__link
								i.fa.fa-facebook
						li
							a(href="#").icon__link
								i.fa.fa-twitter

						li
							a(href="#").icon__link
								i.fa.fa-instagram

						li
							a(href="#").icon__link
								i.fa.fa-youtube

script(src="bower_components/jquery/dist/jquery.js")
// bower:js
// endbower
script(src="scripts/app.js")
