<!DOCTYPE html>
html(lang="en")
	//- HEAD
	include ./head.jade

	body
		//- HEADER
		include ./components/header.jade

		//- BODY
		include ./components/homepage.jade
		
		//- FOOTER
		include ./footer.jade
