<!DOCTYPE html>
html(lang="en")
	//- HEAD
	include ./components/head.jade

	body

		//- HEADER
		include ./components/header.jade

		//- BODY
		include ./components/homepage.jade
		
		//- FOOTER
		include ./components/footer.jade
