@b form-control {
  
  @m oneline {
    position: relative;

    .form-input {
      padding-right: 80px;
    }

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 10px 25px;
    }
  }

  @m gray .form-input {
    background: $white-smoke;
  }
}

.form-input {
	border: none;
	width: 100%;
	display: inline-block;
	outline: none;
	padding: 10px 20px;
}

textarea.form-input {
  min-height: 160px;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: $color-secondary;
  font-style: italic;
  font-size: 14px;
}
::-moz-placeholder {
  color: $color-secondary;
  font-style: italic;
  font-size: 14px;
}
:-ms-input-placeholder {
  color: $color-secondary;
  font-style: italic;
  font-size: 14px;
}
:-moz-placeholder {
  color: $color-secondary;
  font-style: italic;
  font-size: 14px;
}