.h-special {
	font-size: 60px;
  font-family: $font-special;
  font-weight: 300;
  margin: 0 0 calc($meat / 2);
  line-height: 1.2;
  position: relative;
}

.h-bold {
	text-transform: uppercase;
	margin: 0;
}
