.intro {
  font-weight: 700;
}

.smallprint {
  font-size: $h6-fz;
}

a.text-muted,
.text-muted {
  color: $star-dust;
}

.text-light {
	color: $white;
}

.text-center {
	text-align: center;
}

.text-big {
	text-transform: uppercase;
	font-size: 24px;
}

.text-bold {
	font-weight: 700;
}

.text-mini {
	font-size: 12px;
}

.text-right {
	text-align: right;
}

