/* Div background */
.dark-bg {
	background: $color-secondary;
}

.dark-opacity-bg {
  background: color($color-secondary a(50%));
}

.gray-bg {
  background: $color-tertiary;
}

.mine-bg {
  background: $mine-shaft;
}

.shark-bg {
  background: $shark;
}

/* Padding */
.section-padding {
	padding: calc($meat * 4) 0;
}

.section-half-padding {
	padding: calc($meat / 2) 0;
}

.section-has-bg {
	background: url('../images/patterns/dark_wood.png') at-2x;
}

/* Margin */
.mt-10,
.mt-10:last-of-type {
  margin-top: 10px;
}

.mb-30,
.mb-30:last-of-type {
  margin-bottom: 30px;
}

/* Hide text visually but reader machine */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Images */
.img-border {
  border: 9px solid $color-primary;
  position: relative;

  > img {
    display: block;
    width: 100%;
  }

  .img-inner {
    background: $color-primary;
    height: 224px;
    width: 224px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 224px;
  }
}

/* MISC */
.border-left li {
  border-left: 1px solid $cod-gray;
}

.hr-special {
  position: relative;
  margin-bottom: calc($meat / 2);

  .fa {
    color: $color-primary;
  }
}