.padding-medium {
	padding: calc($meat * 4) 0;
}

.padding-small {
	padding: calc($meat * 2) 0;
}

@b hr-decor {
	height: 11px;
	max-width: 322px;
	width: 100%;
	margin: 0 auto;
	background: url(../images/patterns/hr-decor.png) no-repeat center center;

	@m light {
		background-image: url(../images/patterns/hr-decor-light.png); 
	}
}

@b bg {

	@m alpha {
		background: $white-smoke;
	}

	@m beta {
		background: url(../images/patterns/zwartevilt.png) at-2x;
	}
}

.text-light {
	color: $white;
}

.disable-scroll {
	overflow: hidden !important;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}


/* Screen reader */
.sr-only {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}