/* Div background */
.dark-bg {
	background: $color-secondary;
}

/* Padding */
.section-padding {
	padding: calc($meat) 0;
}

.section-half-padding {
	padding: calc($meat / 2) 0;
}

.section-has-bg {
	background: url('../images/patterns/dark_wood.png') at-2x;
}

/* Hide text visually but reader machine */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
